<section class="mainContent">
  <h3>მობილურები</h3>
  <button class="slide prev" (click)="scrollLeft()">
    <i class="fa-solid fa-chevron-left"></i>
  </button>
  <div class="product" #productContainer>
    @for (item of products; track $index) {
    <div class="productCard">
      <div class="head" (click)="goToDetails(item._id)">
        <img [src]="item.thumbnail" alt="{{ item.title }}" />
        @if ( item.price.discountPercentage) {
        <span class="discountPercentage"
          >-{{ item.price.discountPercentage + "%" }}</span
        >
        }
        <div
          [style.background-color]="
            item.rating <= 2 ? 'red' : item.rating < 4 ? '#32b100' : '#ec5e2a'
          "
        >
          <span class="rating"> {{ item.rating }} </span>
          <i class="fi fi-ss-star"></i>
        </div>
      </div>
      <div class="pInfo" (click)="goToDetails(item._id)">
        <span>
          <div
            class="ratingBox"
            [style.background-color]="
              item.rating <= 2 ? 'red' : item.rating < 4 ? '#32b100' : '#ec5e2a'
            "
          >
            <span class="rating"> {{ item.rating }} </span>
            <i class="fi fi-ss-star"></i>
          </div>
          @if (item.price.beforeDiscount == item.price.current ) {
          <span>{{ item.price.beforeDiscount + "₾" }}</span>
          } @else {
          <span class="beforeSale">{{ item.price.beforeDiscount }} </span>
          <span class="currentPrice">{{ item.price.current + "₾" }}</span>
          }
        </span>
        <span>{{ item.title }}</span>
      </div>
      <div class="cardBtn">
        <div>
          <i class="fi fi-rr-exchange"></i>
        </div>
        @if (checkCart !== "") {
        <button (click)="addToCart(item._id)">
          <i class="fi fi-rr-shopping-cart"></i> დამატება
        </button>
        } @else {
        <button (click)="createCart(item._id)">
          <i class="fi fi-rr-shopping-cart"></i> დამატება
        </button>
        }
      </div>
    </div>
    }
  </div>
  <button class="slide next" (click)="scrollRight()">
    <i class="fa-solid fa-chevron-right"></i>
  </button>
</section>
