<section>
  <div class="top">
    <h1>შენს კალათაში {{ totalProducts ? totalProducts : "0" }} ნივთია</h1>
    <span (click)="deleteCart()"
      ><i class="fa-solid fa-trash-can"></i> გასუფთავება</span
    >
  </div>
  <div class="content">
    <div class="left">
      <div class="products">
        @for (item of combinedCartProducts; track $index) {
        <div class="product">
          <div class="mainInfo">
            <div class="productImg">
              <img [src]="item.productDetails.thumbnail" alt="" />
            </div>
            <div class="info">
              <span>{{ item.productDetails.title }}</span>
              <div>
                @if (item.beforeDiscountPrice == item.pricePerQuantity) {
                <span class="beforePriceNoLine"
                  >{{ item.beforeDiscountPrice }} ₾</span
                >
                } @else {
                <span class="beforePrice">{{ item.beforeDiscountPrice }}</span>
                <span class="newPrice">{{ item.pricePerQuantity }} ₾</span>
                }
              </div>
            </div>
          </div>
          <div class="btns">
            <div>
              <span
                class="changeQuantity"
                (click)="decreaseQuantity(item.productId, item.quantity)"
                >-</span
              >
              <span>{{ item.quantity }}</span>
              <span
                class="changeQuantity"
                (click)="increaseQuantity(item.productId, item.quantity)"
                >+</span
              >
            </div>
            <i
              class="fa-solid fa-trash-can"
              (click)="deleteProduct(item.productId)"
            ></i>
          </div>
        </div>
        }
      </div>
    </div>
    <div class="right">
      <div class="total">
        <div class="prices">
          <div>
            <span>ღირებულება</span>
            <span class="price"
              >{{ totalPrices ? totalPrices + "₾" : "0₾" }}
            </span>
          </div>
          <div>
            <span
              >მიწოდების ღირებულება <i class="fi fi-ss-info"></i>
              <div class="deliveryInfo">
                <h3>მიწოდების პირობები:</h3>
                <p>
                  პროდუქტის ღირებულების მიხედვით, მიწოდების ღირებულება
                  განისაზღვრება შემდეგნაირად:
                </p>
                <ul>
                  <li>
                    500₾-ზე ნაკლები ღირებულების შემთხვევაში, მიწოდების საფასურია
                    20₾.
                  </li>
                  <li>500₾ ან მეტის შემთხვევაში, მიწოდება სრულიად უფასოა.</li>
                </ul>
              </div>
            </span>
            <span class="price"
              >{{
                totalPrices < 500 && totalPrices > 0
                  ? deliveryPrice + "₾"
                  : "0₾"
              }}
            </span>
          </div>
        </div>
        <div class="totalPrices">
          <div>
            <span>გადასახდელი თანხა</span>
            <span class="price2"
              >{{
                totalPrices < 500 && totalPrices > 0
                  ? totalPrices + deliveryPrice + "₾"
                  : totalPrices > 500
                  ? totalPrices + "₾"
                  : "0₾"
              }}
            </span>
          </div>
        </div>
      </div>
      <button (click)="goCheckOut()">
        <i class="fi fi-rr-coins"></i> გადახდა
      </button>
    </div>
  </div>
</section>
