$primary: #ec5e2a;
$secondary: #ffffff;
$third: #f28f6a;
$fourth: #828282;
$fifth: #333333;
$sixth: #f7bba5;
$seventh: #000000;

section.mainSection {
  width: 100%;
  padding: 0 12%;
  margin-top: 150px;
  display: flex;
  .profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px -2px rgba($color: $seventh, $alpha: 0.3);
    border-radius: 0 0 10px 10px;
    padding-bottom: 40px;
    .coverImg {
      width: 100%;
      height: 250px;
      background-color: $primary;
      border-radius: 10px;
    }
    .mainInfo {
      display: flex;
      justify-content: space-between;
      .left {
        position: relative;
        margin-top: 20px;
        img {
          width: 250px;
          height: 250px;
          border-radius: 25%;
          object-fit: cover;
          position: absolute;
          top: -80px;
          left: 15px;
          background-color: rgba($color: $secondary, $alpha: 1);
          padding: 7px;
          object-position: center;
        }
        .info {
          margin-left: 285px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 5px;
          span {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 15px;
            color: $seventh;
            .fi-ss-badge-check {
              color: rgb(0, 150, 0);
              font-size: 16px;
            }
            .fi-ss-cross-circle {
              color: rgb(255, 0, 0);
              font-size: 16px;
            }
          }
        }
      }
      .right {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
        padding-right: 15px;
        .btns {
          display: flex;
          align-items: flex-end;
          justify-content: center;
          gap: 10px;
          div {
            border: 1px solid $primary;
            background-color: $primary;
            color: $secondary;
            font-weight: bold;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            transition: 0.3s ease;
            cursor: pointer;
            i {
              font-size: 18px;
            }
            &:hover {
              border: 1px solid $primary;
              background-color: $secondary;
              color: $primary;
            }
          }
        }
      }
      .rightM {
        display: none;
        width: 100%;
        .btns {
          width: 100%;
          display: flex;
          align-items: flex-end;
          justify-content: center;
          gap: 10px;
          span {
            border: 1px solid $primary;
            background-color: $primary;
            color: $secondary;
            font-weight: bold;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 40px;
            transition: 0.3s ease;
            cursor: pointer;
            gap: 10px;
            i {
              font-size: 18px;
            }
            &:hover {
              border: 1px solid $primary;
              background-color: $secondary;
              color: $primary;
            }
          }
        }
      }
    }
  }
}

section.profileSettings {
  width: 100%;
  padding: 0 12%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 913px) {
  section.mainSection {
    padding: 0 6%;
    margin-top: 80px;
    .profile {
      width: 100%;
      .mainInfo {
        width: 100%;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: 0 15px;
        .left {
          width: 100%;
          flex-direction: column;
          align-items: center;
          img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            margin: 0 auto;
            position: absolute;
            top: -100px;
            left: 50%;
            transform: translateX(-50%);
          }
          .info {
            width: 100%;
            margin: 0;
            margin-top: 130px;
            align-items: center;
          }
        }
        .right {
          display: none;
        }
        .rightM {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 20px;
          margin-top: 50px;
        }
      }
    }
  }
  section.profileSettings {
    padding: 0 6%;
  }
}
