<section class="mainSection">
  <div class="profile">
    <div class="coverImg"></div>
    <div class="mainInfo">
      <div class="left">
        <img [src]="userProfile ? userProfile.avatar : '/user.png'" alt="" />
        <div class="info">
          <h1>{{ userProfile.firstName }} {{ userProfile.lastName }}</h1>
          <span
            ><p>Email:</p>
            {{ userProfile.email }}
            <i
              [className]="
                userProfile.verified
                  ? 'fi fi-ss-badge-check'
                  : 'fi fi-ss-cross-circle'
              "
            ></i
          ></span>
          <span
            ><p>ტელეფონი:</p>
            {{ userProfile.phone }}
          </span>
          <span
            ><p>ასაკი:</p>
            {{ userProfile.age }} წლის
          </span>
          <span
            ><p>მისამართი:</p>
            {{ userProfile.address }}
          </span>
          <span
            ><p>როლი:</p>
            {{
              userProfile.role == "default" ? "მომხმარებელი" : userProfile.role
            }}
          </span>
          <span
            ><p>სქესი:</p>
            {{ userProfile.gender == "MALE" ? "მამრობითი" : "მდედრობითი" }}
          </span>
        </div>
      </div>
      <div class="right">
        <div class="btns">
          <div (click)="signOut()">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
          </div>
        </div>
        <span> {{ userProfile._id }}</span>
      </div>
      <div class="rightM">
        <div class="btns">
          <span (click)="signOut()">
            გასვლა
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
          </span>
        </div>
        <span> {{ userProfile._id }}</span>
      </div>
    </div>
  </div>
</section>

<section class="profileSettings">
  <app-editprofile></app-editprofile>
</section>
