<nav>
  <div class="top">
    <div class="number">
      <i class="fa-solid fa-square-phone"></i>
      <span>*7777 / +995 (32) 2 12 34 56</span>
    </div>
    <div class="addInfo">
      <span>შეფასებები</span>
      <span>QR Code</span>
    </div>
  </div>
  <div class="bottom">
    <div class="logo" routerLink="/">
      <img src="/boommer-logo.png" alt="" />
    </div>
    <div class="navigation">
      <div class="navv">
        <span routerLink="/products"
          ><i class="fi fi-br-grid"></i> პროდუქტები</span
        >
        <div class="search" routerLink="/products">
          <i class="fa-solid fa-magnifying-glass" routerLink="/search"></i>
        </div>
      </div>
      <span routerLink="/cart"
        ><i class="fi fi-rr-shopping-cart"></i> კალათა
        <span class="cartQuantity">{{
          cartLength ? cartLength : "0"
        }}</span></span
      >
      @if (userProfile) {
      <span
        [style.display]="userProfile ? 'flex' : 'none'"
        routerLink="/profile"
        class="authorized"
        ><img [src]="userProfile.avatar" alt="" class="profileAvatar" />
        {{ userProfile.firstName }}
      </span>
      }@else {
      <span
        (click)="toggleAuthorization()"
        [style.display]="userProfile ? 'none' : 'flex'"
        ><i class="fi fi-rr-circle-user"></i> შესვლა</span
      >
      }
    </div>
  </div>
  <div class="mobileMenu">
    <div class="menu">
      <div class="logoM" routerLink="/">
        <img src="/boommer-logo.png" alt="" />
      </div>
    </div>
    <div class="cart">
      <span routerLink="/products"
        ><i class="fi fi-rr-search" routerLink="/search"></i
      ></span>
      <span routerLink="/cart"><i class="fi fi-rr-shopping-cart"></i></span>
    </div>
    <div class="mobileNavigation">
      <div
        class="navItem"
        routerLink="/"
        routerLinkActive="activeMitem"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="fi fi-rr-home"></i>
        <span>მთავარი</span>
      </div>
      <div
        class="navItem"
        (click)="toggleBurger()"
        [class.activeMitem]="burgerToggle == true"
      >
        <i class="fi fi-rr-category"></i>
        <span>კატეგორიები</span>
      </div>
      <div class="navItem" routerLink="/cart" routerLinkActive="activeMitem">
        <i class="fi fi-rr-shopping-cart"></i>
        <span>კალათა</span>
        <div class="cartLengthM">
          <span>{{ cartLength ? cartLength : "0" }}</span>
        </div>
      </div>
      <div
        class="navItem"
        routerLink="/products"
        routerLinkActive="activeMitem"
      >
        <i class="fi fi-rr-box-open"></i>
        <span>პროდუქტები</span>
      </div>
      @if (userProfile) {
      <div
        class="navItem"
        [style.display]="userProfile ? 'flex' : 'none'"
        routerLink="/profile"
        routerLinkActive="activeMitem"
      >
        <i class="fi fi-rr-circle-user"></i>
        <span>პროფილი</span>
      </div>
      }@else {
      <div
        class="navItem"
        (click)="toggleAuthorization()"
        [style.display]="userProfile ? 'none' : 'flex'"
      >
        <i class="fi fi-rr-circle-user"></i>
        <span>შესვლა</span>
      </div>
      }
    </div>
  </div>
</nav>
<div
  class="burger"
  [class.activeBurger]="burgerToggle"
  (click)="toggleBurger()"
>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</div>
<div class="mobileActiveMenu" [class.hidden]="burgerToggle">
  <div class="topM">
    <div class="search" routerLink="/products">
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
  </div>
  <app-categories
    (closeMenu)="getAnswerFromCategories($event)"
  ></app-categories>
</div>

@if(authorizationToggle) {
<app-authorization
  (sendCloseCommand)="getAnswerFromAuth($event)"
></app-authorization>
}
