$primary: #ec5e2a;
$secondary: #ffffff;
$third: #f28f6a;
$fourth: #828282;
$fifth: #333333;
$sixth: #f7bba5;
$seventh: #000000;

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  padding: 0 12%;
  align-items: center;
  gap: 50px;
  .topMenu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .addQuote {
    width: 180px;
    height: 50px;
    border: 1px solid $primary;
    background-color: $primary;
    border-radius: 10px;
    color: $secondary;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
    border: 1px solid $primary;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    i {
      width: 20px;
      height: 20px;
      font-size: 20px;
    }
    &:hover {
      background-color: $secondary;
      color: $primary;
      border: 1px solid $primary;
    }
  }
  .quotes {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    .quote {
      max-width: 250px;
      width: 100%;
      height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: 1px solid $primary;
      border-radius: 10px;
      padding: 20px;
      .author {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        div {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          font-size: 14px;
        }
      }
    }
  }
  .pages {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    button {
      width: 80px;
      height: 35px;
      border: 1px solid $primary;
      background-color: $primary;
      border: 0;
      border-radius: 10px;
      color: $secondary;
      font-weight: bold;
      font-size: 15px;
      cursor: pointer;
      transition: 0.3s ease;
      &:hover {
        background-color: $secondary;
        color: $primary;
      }
      &.active {
        background-color: #f28f6a;
        color: $secondary;
      }
    }
    div {
      display: flex;
      align-items: center;
      gap: 10px;
      button {
        width: 35px;
        height: 35px;
        border: 1px solid $primary;
        background-color: $primary;
        border: 0;
        border-radius: 10px;
        color: $secondary;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
        transition: 0.3s ease;
        &:hover {
          border: 1px solid $primary;
          background-color: $secondary;
          color: $primary;
        }
        &.active {
          border: 1px solid $primary;
          background-color: $secondary;
          color: $primary;
        }
      }
    }
  }
}
