$primary: #ec5e2a;
$secondary: #ffffff;
$third: #f28f6a;
$fourth: #828282;
$fifth: #333333;
$sixth: #f7bba5;
$seventh: #000000;

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  padding: 0 12%;
  align-items: center;
  gap: 50px;
  .topMenu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .addQuote {
    width: 180px;
    height: 50px;
    padding: 0 10px;
    border: 1px solid $primary;
    background-color: $primary;
    border-radius: 10px;
    color: $secondary;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
    border: 1px solid $primary;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    i {
      width: 20px;
      height: 20px;
      font-size: 20px;
    }
    &:hover {
      background-color: $secondary;
      color: $primary;
      border: 1px solid $primary;
    }
  }
  .quotes {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    .quote {
      max-width: 250px;
      width: 100%;
      height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: 1px solid $primary;
      border-radius: 10px;
      padding: 10px;
      background-color: $sixth;
      p {
        text-align: center;
      }
      .author {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        div {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          font-size: 13px;
        }
      }
    }
  }
  .pages {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    button {
      width: 80px;
      height: 35px;
      border: 1px solid $primary;
      background-color: $primary;
      border-radius: 10px;
      color: $secondary;
      font-weight: bold;
      font-size: 15px;
      cursor: pointer;
      transition: 0.3s ease;
      &:hover {
        background-color: $secondary;
        color: $primary;
      }
      &.active {
        background-color: #f28f6a;
        color: $secondary;
      }
    }
    div {
      display: flex;
      align-items: center;
      gap: 10px;
      button {
        width: 35px;
        height: 35px;
        border: 1px solid $primary;
        background-color: $primary;
        border: 0;
        border-radius: 10px;
        color: $secondary;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
        transition: 0.3s ease;
        &:hover {
          border: 1px solid $primary;
          background-color: $secondary;
          color: $primary;
        }
        &.active {
          border: 1px solid $primary;
          background-color: $secondary;
          color: $primary;
        }
      }
    }
  }
}

.addQuoteForm {
  max-width: 450px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: $secondary;
  border: 1px solid $primary;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 20px;
  z-index: 9999;
  animation: windowAppear 0.7s ease-out;
  .exitBtn {
    position: absolute;
    right: 7px;
    top: 7px;
    cursor: pointer;
    background-color: $primary;
    color: $secondary;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.3s ease;
    i {
      font-size: 20px;
    }
  }
  div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
    label {
      font-size: 14px;
    }
    input {
      width: 100%;
      height: 50px;
      border-radius: 20px;
      border: 1px solid $primary;
      padding: 3px 15px;
      outline: none;
    }
  }
  button {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    border: 1px solid $primary;
    background-color: $primary;
    color: $secondary;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
    &:hover {
      border: 1px solid $primary;
      background-color: $secondary;
      color: $primary;
    }
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.5);
  top: 0;
  left: 0;
  z-index: 100;
  backdrop-filter: blur(3px);
}

@keyframes windowAppear {
  from {
    transform: translate(-50%, -20%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
  section {
    padding: 0 6%;
  }
}

@media screen and (max-width: 530px) {
  section {
    .topMenu {
      flex-direction: column;
      justify-content: center;
      gap: 35px;
    }
  }
}
