$primary: #ec5e2a;
$secondary: #ffffff;
$third: #f28f6a;
$fourth: #828282;
$fifth: #333333;
$sixth: #f7bba5;
$seventh: #000000;

section.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  position: relative;
  padding: 0 12%;
  .categories {
    max-width: 250;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    gap: 10px;
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      gap: 10px;
      cursor: pointer;
      transition: 0.3s ease;
      font-weight: bold;
      img {
        width: 25px;
      }
      &:hover {
        color: $primary;
      }
    }
  }
  .slider {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    flex: 3;
    button.prevImg {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      border: 0;
      background-color: $secondary;
      color: $seventh;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    button.nextImg {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      border: 0;
      background-color: $secondary;
      color: $seventh;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    img {
      width: 100%;
      height: 350px;
      border-radius: 12px;
      transition: 0.5s ease;
    }
  }
}

@media screen and (max-width: 1024px) {
  section.header {
    .categories {
      display: none;
    }
    .slider {
      width: 100%;
      img {
        width: 100%;
        height: 250px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  section.header {
    .slider {
      button.prevImg {
        width: 35px;
        height: 35px;
        font-size: 16px;
        background-color: rgba($color: $secondary, $alpha: 0.8);
      }
      button.nextImg {
        width: 35px;
        height: 35px;
        font-size: 16px;
        background-color: rgba($color: $secondary, $alpha: 0.8);
      }
    }
  }
}

@media screen and (max-width: 550px) {
  section.header {
    .slider {
      img {
        width: 100%;
        height: 200px;
      }
    }
  }
}
