<section class="main">
  <div class="left">
    <div class="name">
      <h3>{{ productDetails.title }}</h3>
      <div>
        <i class="fi fi-rr-share" (click)="copyLink()"></i>
        <span>{{ productDetails._id }}</span>
      </div>
    </div>
    <div class="slider">
      <div class="sliderBox">
        <button (click)="prev()" class="prevImg">
          <i class="fa-solid fa-chevron-left"></i>
        </button>
        <img
          [src]="
            productDetailsImages[currentIndex]
              ? productDetailsImages[currentIndex]
              : productDetails.thumbnail
          "
          alt=""
          class="slider-image"
        />
        <button (click)="next()" class="nextImg">
          <i class="fa-solid fa-chevron-right"></i>
        </button>
      </div>
      <div class="thumbnails">
        @for (item of productDetailsImages; track $index) {
        <img
          class="sliderImg"
          [src]="item"
          alt=""
          (click)="giveIndex($index)"
          [class.active]="currentIndex == $index"
        />
        <div
          class="imgCircle"
          (click)="giveIndex($index)"
          [class.active]="currentIndex == $index"
        ></div>
        }
      </div>
    </div>
  </div>
  <div class="right">
    <div class="prices">
      @if (productDetails.price.beforeDiscount == productDetails.price.current)
      {
      <span class="beforePriceNoLine">{{
        productDetails.price.beforeDiscount !== 0
          ? productDetails.price.beforeDiscount + " ₾"
          : null
      }}</span>
      } @else {
      <div>
        <span class="beforeSale">{{
          productDetails.price.beforeDiscount !== 0
            ? productDetails.price.beforeDiscount
            : null
        }}</span>
        <span class="currentPrice">{{
          productDetails.price.current !== 0
            ? productDetails.price.current + " ₾"
            : null
        }}</span>
      </div>
      } @if (productDetails.price.beforeDiscount == productDetails.price.current
      && productDetails.price.beforeDiscount !== undefined ||
      productDetails.price.current !== undefined) {
      <span class="ganvadebaParent"
        >თვეში:
        <span class="ganvadeba">{{
          saledGanvadebaBefore ? saledGanvadebaBefore + " ₾" : null
        }}</span>
        -დან</span
      >
      } @else {
      <span class="ganvadebaParent"
        >თვეში
        <span class="ganvadeba">{{
          saledGanvadebaCurrent ? saledGanvadebaCurrent + " ₾" : null
        }}</span>
        -დან</span
      >
      }
    </div>
    <div class="stock">
      <div [style.color]="productDetails.stock > 0 ? 'green' : 'red'">
        <span>
          <i class="fi fi-ss-supplier-alt"></i>
          {{ productDetails.stock > 0 ? "მარაგშია" : "მარაგი ამოიწურა" }}
        </span>
        <span></span>
        ({{ productDetails.stock }})
      </div>
    </div>
    <div class="btns">
      <button class="buy">ყიდვა</button>
      <div>
        <button class="addCart" (click)="openRateWindow()">
          <i class="fi fi-ss-star"></i>შეფასება
        </button>
        @if (checkCart) {
        <button (click)="addToCart(productDetails._id)" class="addCart">
          <i class="fi fi-rr-shopping-cart"></i> დამატება
        </button>
        } @else {
        <button (click)="createCart(productDetails._id)" class="addCart">
          <i class="fi fi-rr-shopping-cart"></i> დამატება
        </button>
        }
      </div>
    </div>
  </div>
  <div class="rightMobile">
    <div class="pricesM">
      @if (productDetails.price.beforeDiscount == productDetails.price.current)
      {
      <span class="beforePriceNoLine">{{
        productDetails.price.beforeDiscount !== 0
          ? productDetails.price.beforeDiscount + " ₾"
          : null
      }}</span>
      } @else {
      <div>
        <span class="beforeSale">{{
          productDetails.price.beforeDiscount !== 0
            ? productDetails.price.beforeDiscount + " ₾"
            : null
        }}</span>
        <span class="currentPrice">{{
          productDetails.price.current !== 0
            ? productDetails.price.current + " ₾"
            : null
        }}</span>
      </div>
      }
    </div>
    <div class="buyMenu">
      <button class="addCart" (click)="openRateWindow()">
        <i class="fi fi-ss-star"></i>
      </button>
      @if (checkCart) {
      <button (click)="addToCart(productDetails._id)" class="addCart">
        <i class="fi fi-rr-shopping-cart"></i>
      </button>
      } @else {
      <button (click)="createCart(productDetails._id)" class="addCart">
        <i class="fi fi-rr-shopping-cart"></i>
      </button>
      }
      <button class="buy" routerLink="/cart">ყიდვა</button>
    </div>
  </div>
</section>
@if (rateWindow) {
<form
  class="rateWindow"
  [formGroup]="productRate"
  (ngSubmit)="sendProductRate(productDetails._id)"
>
  <span class="exitBtn" (click)="openRateWindow()">
    <i class="fa-solid fa-xmark"></i>
  </span>
  <span class="rateName">პროდუქტის შეფასება</span>
  <div class="rate">
    <input type="radio" id="rating10" value="5" formControlName="rate" /><label
      for="rating10"
    ></label>
    <input type="radio" id="rating9" value="4.5" formControlName="rate" /><label
      class="half"
      for="rating9"
    ></label>
    <input type="radio" id="rating8" value="4" formControlName="rate" /><label
      for="rating8"
    ></label>
    <input type="radio" id="rating7" value="3.5" formControlName="rate" /><label
      class="half"
      for="rating7"
    ></label>
    <input type="radio" id="rating6" value="3" formControlName="rate" /><label
      for="rating6"
    ></label>
    <input type="radio" id="rating5" value="2.5" formControlName="rate" /><label
      class="half"
      for="rating5"
    ></label>
    <input type="radio" id="rating4" value="2" formControlName="rate" /><label
      for="rating4"
    ></label>
    <input type="radio" id="rating3" value="1.5" formControlName="rate" /><label
      class="half"
      for="rating3"
    ></label>
    <input type="radio" id="rating2" value="1" formControlName="rate" /><label
      for="rating2"
    ></label>
    <input type="radio" id="rating1" value="1" formControlName="rate" /><label
      class="half"
      for="rating1"
    ></label>
  </div>
  <button type="submit">გაგზავნა</button>
</form>
<div class="overlay"></div>

}
<section class="description">
  <h3>დამატებითი მახასიათებლები</h3>
  <div class="tech">
    <div class="info">
      <div>
        <span>ბრენდი:</span>
        <span style="font-family: sans-serif">{{ productDetails.brand }}</span>
      </div>
      <div>
        <span>კატეგორია:</span>
        <span>{{
          productDetails.category.id == 1 ? "ლეპტოპები" : "მობილურები"
        }}</span>
      </div>
      <div>
        <span>გამოშვების თარიღი:</span>
        <span>{{ dateOfProducts | date : "d MMM y" }}</span>
      </div>
      <div>
        <span>გარანტია:</span>
        <span>{{ productDetails.warranty }} თვე</span>
      </div>
      <div>
        <span>მარაგი:</span>
        <span>{{ productDetails.stock }} ერთეული</span>
      </div>
      <div class="addInfo">
        <span>აღწერა:</span>
        <span>{{ productDetails.description }}</span>
      </div>
    </div>
    <div class="fakeBox"></div>
  </div>
</section>
<section class="mainContent">
  <h3>მსგავსი პროდუქტი</h3>
  <button class="slide prev" (click)="scrollLeft()">
    <i class="fa-solid fa-chevron-left"></i>
  </button>
  <div class="product" #productContainer>
    @for (item of products; track $index) {
    <div class="productCard">
      <div class="head" (click)="goToDetails(item._id)">
        <img [src]="item.thumbnail" alt="{{ item.title }}" />
        @if ( item.price.discountPercentage) {
        <span class="discountPercentage"
          >-{{ item.price.discountPercentage + "%" }}</span
        >
        }
        <div
          [style.background-color]="
            item.rating <= 2 ? 'red' : item.rating < 4 ? '#32b100' : '#ec5e2a'
          "
        >
          <span class="rating"> {{ item.rating }} </span>
          <i class="fi fi-ss-star"></i>
        </div>
      </div>
      <div class="pInfo" (click)="goToDetails(item._id)">
        <span>
          <div
            class="ratingBox"
            [style.background-color]="
              item.rating <= 2 ? 'red' : item.rating < 4 ? '#32b100' : '#ec5e2a'
            "
          >
            <span class="rating"> {{ item.rating }} </span>
            <i class="fi fi-ss-star"></i>
          </div>
          @if (item.price.beforeDiscount == item.price.current ) {
          <span>{{ item.price.beforeDiscount + "₾" }}</span>
          } @else {
          <span class="beforeSale">{{ item.price.beforeDiscount }} </span>
          <span class="currentPrice">{{ item.price.current + "₾" }}</span>
          }
        </span>
        <span>{{ item.title }}</span>
      </div>
      <div class="cardBtn">
        <div>
          <i class="fi fi-rr-exchange"></i>
        </div>
        @if (checkCart !== "") {
        <button (click)="addToCart(item._id)">
          <i class="fi fi-rr-shopping-cart"></i> დამატება
        </button>
        } @else {
        <button (click)="createCart(item._id)">
          <i class="fi fi-rr-shopping-cart"></i> დამატება
        </button>
        }
      </div>
    </div>
    }
  </div>
  <button class="slide next" (click)="scrollRight()">
    <i class="fa-solid fa-chevron-right"></i>
  </button>
</section>

<section class="comments">
  <div class="content">
    <h2>კომენტარები</h2>
    @for (item of randomQoutes; track $index) {
    <div class="comment">
      <p><img src="/user.png" alt="" />{{ item.author }}:</p>
      <p>"{{ item.quote }}"</p>
    </div>
    }
  </div>
  <div class="fakeBox"></div>
</section>
